/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flashcard-container {
    position: relative;
    margin: 0 auto;
    background: url('fc-images/eagle\ eye\ tsu\ main\ flashcard.png') no-repeat center / cover; 
    color: white;
    font-family: "Roboto Mono";
}
.flashcardlucinda-container {
    position: relative;
    margin: 0 auto;
    background: url('fc-images/lucinda\ blurred.png') no-repeat center / cover; 
    color: white;
    font-family: "Roboto Mono";
}

.flashcardsanisidro-container {
    position: relative;
    margin: 0 auto;
    background: url('fc-images/blurred\ ccs\ bldg.png') no-repeat center / cover; 
    color: white;
    font-family: "Roboto Mono";
}

.facilities-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.facility-card {
    position: relative;
    background-size: cover;
    background-position: center;    
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 4s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    min-height: 100px;
}

.facility-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 10px rgba(255, 255, 0.3, 0.3); 
    
}

.facility-info {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    border-top: 1px solid #8B0000;
    transition: background 0.3s ease;
    box-sizing: border-box;
    max-height: 270px;
    overflow-y: auto;
    flex-grow: 1;
}

.facility-info h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.facility-info p {
    font-size: 16px;
}

.bottom-bar .logo {
    width: 50px;
    height: 50px;
    min-width: 50px; 
    min-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.bottom-bar .logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bottom-bar .logo:hover {
    transform: rotate(180deg);
}

.bottom-bar .university-name,
.bottom-bar .facility-name {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    flex: 1 1 100%;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .facilities-container {
        padding: 20px;
    }

    .facility-info h3 {
        font-size: 20px;
    }

    .facility-info p {
        font-size: 14px;
    }

    .bottom-bar .university-name,
    .bottom-bar .facility-name {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        
    }

}

@media (max-width: 1024px) {
    .flashcard-container {
        height: auto;
    }

    .flashcardlucinda-container {
        height: auto;
    }
}

