:root {
    background-color: #610808;
    color: white;
    margin: 0px;
    padding: 0;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100%;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

nav {
    height: 150px;
    width: auto;
    border: 1px solid white;
}

