:root {
    background-color: #610808;
    color: white;
    margin: 0px;
    padding: 0;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100%;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.nav-main {
    height: 150px;
    width: 100%;
    background-color: #8B0000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: url('Images/tsu-gymnasium.jpg') no-repeat center center/cover; 
    background-size: 100vw;
    color: white;
    font-family: Arial, sans-serif;
}

.text-overlay {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    min-width: 800px;
    background-color: #8B0000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-bar div {
    color: white;
    font-weight: bold;
    font-size: 16px;
}


.circle-logo {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.circle-logo img {
    width: 80%;
    height: auto;
}
